{% extends "base.html" %}
{% load bootstrap4 %}

{% block header %}
  <h2>Log in to your account.</h2>
{% endblock header %}

{% block content %}

	{% if user.is_authenticated %}
		<p> You should to log out before log in
	{% else %}
		<form method="post" action="{% url 'login' %}" class="form">
			{% csrf_token %}

			{% bootstrap_form form %}

			{% buttons %}
				<button name="submit" class="btn btn-primary">log in</button>
			{% endbuttons %}

			<input type="hidden" name="next" value="{% url 'home' %}" />
		</form>
	{% endif %}

{% endblock content %}
