{% extends 'base.html' %}

{% block content %}
	{% if user.is_authenticated %}
		<h2>Write your answer</h2>
		<p></p>
		<p></p>
		<form action="" method="post">{% csrf_token %}
			{{ form.as_p }}
			<button class="btn btn-success ml-2" type="submit">Save</button>
		</form>
	{% else %}
		<p>Please, log in</p>
	{% endif %}
{% endblock content %}

