{% load bootstrap4 %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>Faska</title>
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

		{% bootstrap_css %}
		{% bootstrap_javascript %}

		<title>{% block title %}{% endblock %}</title>
	
	</head>

	<body class="bg-secondary">
		<nav class="navbar navbar-expand-lg navbar-light bg-dark">
			<div class="container bg-light">
				<a class="navbar-brand" href="{% url 'home' %}">Delta Asketron</a>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<input class="w-50 form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
					<a href="{% url 'ask' %}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">ASK!</a>
				</div>
				<ul class="navbar-nav">
					{% if user.is_authenticated %}
<!--					<li class="nav-item">
							<img src="{% static "user.png" %}" alt="img">
						</li>
-->						<nav class="navbar bg-light">
							<ul class="navbar-nav">
								<li class="nav-item">
									<a class="nav-link text-info">{{ user.nickname }}</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="{% url 'edit' %}">settings</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="{% url 'logout' %}">log out</a>
								</li>
							</ul>
						</nav>
					{% else %}
						<li><a class="nav-link" href="{% url 'login' %}">log in</a></li>
						<li><a class="nav-link" href="{% url 'signup' %}">signup</a></li>
					{% endif %}
				</ul>
			</div>
		</nav>

		<div class="container">
			<div class="row">
				<div class="col-sm-9">
					<div class "page-header">
						{% block header %}{% endblock %}
					</div>
					<div>
						{% block content %}{% endblock %}
					</div>
				</div>
				<div class="col-sm-3">
					<p>Pupolar tags:</p>
						{% for tag in popularTags %}
							<a class="text-info" href="{% url 'tagview' tag.pk  %}">#{{ tag.name }}</a>
						{% endfor %}

					<p>Best Members</p>
				</div>
			</div>
		</div>
	</body>

</html>
