{% extends "base.html" %}

{% block header %}
	<div class="text-warning">
		<h2><a class="text-warning" href="{% url 'home' %}">Home</a> | <a class="text-warning" href="{% url 'hot' %}">Hot</a></h2>
	</div>
{% endblock %}

{% block content %}
	<p></p>
	{% for question in object_list %}
		<div class="card">
			<div class="card-header" onclick='location.href="{% url 'question_detail' question.pk %}";'>
				<span class="font-weight-bold">{{ question.title }}</span>
				<span class="text-muted">by {{ question.author }} | {{ question.date }}</span>
			</div>
			<div class="card-body">
				{{ question.body }}
			</div>
			<div class="card-header">
				{% if question.raiting > 0 %}
					<span class="font-weight-bold text-success">({{ question.raiting }})Raiting</span>
				{% elif question.raiting < 0 %} 
					<span class="font-weight-bold text-danger">({{ question.raiting }})Raiting</span>
				{% else %}
					<span class="font-weight-bold text-secondary">({{ question.raiting }})Raiting</span>
				{% endif %}
			</div>
		</div>
		<p></p>
	{% endfor %}

	{% include 'paginate_questions.html' %}

{% endblock content %}

