{% load bootstrap4 %}

{% if is_paginated %}
	<ul class="pagination">
		<li><a href="?page=1">first</a></li>
		{% if page_obj.has_previous %}
			<li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
		{% else %}
			<li class="disabled"><span>&laquo;</span></li>
		{% endif %}
		{% if page_obj.has_next %}
			<li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
		{% else %}
			<li class="disabled"><span>&raquo;</span></li>
		{% endif %}
		<li><a href="?page={{ paginator.num_pages }}">last</a></li>
	</ul>
{% endif %}
