{% extends 'base.html' %}

{% block content %}
	<p></p>
	<div class="card">
		<div class="card-header">
			<span class="font-weight-bold">{{ object.title }}</span>
			<span class="font-weight">by {{ object.author }} | {{ object.date }}</span>
		</div>
		<div class="card-body">
			{{ object.body }}
		</div>
		{% if request.user.is_authenticated %}
			{% if request.user == object.author %}
				<div class="card-footer text-center text-muted">
					<a href="{% url 'question_edit' object.pk %}">Edit</a> |
					<a href="{% url 'question_delete' object.pk %}">Delete</a>
				</div>
			{% endif %}
			<div style="width:200px;">
				<div style="float: left; width: 50px"> 
					<form action="{% url 'like_question' %}" method="post">
						{% csrf_token %}
						<button type="submit" name="question_id" value="{{ object.pk }}" class="btn btn-primary">+{{ object.likes.count }}</button>
					</form>
					</div>
				<div style="float: left; width: 50px"> 
					<form action="{% url 'dislike_question' %}" method="post">
						{% csrf_token %}
						<button type="submit" name="question_id" value="{{ object.pk }}" class="btn btn-danger">- {{ object.dislikes.count }}</button>
					</form>
				</div>
				<p class="text-info">({{ object.raiting }})Raiting</p>
			</div>
		{% else %}
			<p class="text-info">({{ object.raiting }})Raiting</p>
		{% endif %}

		<div class="text-center">
			<p>----------------------------------------------------</p>
		</div>				
		<div class="card-footer">
			{% for answer in object.answers.all %}
				<div class="card-header">
					<span class="font-weight-bold">by {{ answer.author }} | {{ answer.date }}</span>
				</div>
				<div class="card-body">
					{{ answer.body }}
				</div>
				{% if request.user == answer.author %}
						<div class="card-footer text-center text-muted">
							<a href="{% url 'answer_edit' answer.pk %}">Edit</a> |
							<a href="{% url 'answer_delete' answer.pk %}">Delete</a>
						</div>				
				{% endif%}
				{% if request.user.is_authenticated %}
					<div style="width:100px;">
						<div style="float: left; width: 50px"> 
							<form action="{% url 'like_answer' %}" method="post">
								{% csrf_token %}
								<button type="submit" name="answer_id" value="{{ answer.pk }}" class="btn btn-primary">+{{ answer.likes.count }}</button>
							</form>
						</div>
						<div style="float: left; width: 50px"> 
							<form action="{% url 'dislike_answer' %}" method="post">
							{% csrf_token %}
								<button type="submit" name="answer_id" value="{{ answer.pk }}" class="btn btn-danger">- {{ answer.dislikes.count }}</button>
								</form>
						</div>
					</div>
				{% endif %}
				<p class="text-info">({{ answer.raiting }})Raiting</p>
				
				{% if answer.is_right %}
					<p class="text-success">Right Answer</p>
				{% endif %}
				
				{% if request.user == object.author %}
					<form action="{% url 'set_right_answer_flag' %}" method="post">
						{% csrf_token %}
						<button type="submit" name="answer_id" value="{{ answer.pk }}" class="btn btn-danger">Right</button>
					</form>			
				{% endif %}
			{% endfor %}
			<div class="text-center">
				<a href="{% url 'answer' object.pk %}">Answer</a>
			</div>
		</div>
	</div>
{% endblock content %}

