{% extends 'base.html' %}
{% load bootstrap4 %}

{% block head %}
	<title>EditProfile</title>
{% endblock %}

{% block content %}
	{% if user.is_authenticated %}
		<form method="post" action="{% url 'edit' %}" class="form">
			{% csrf_token %}
			{% bootstrap_form form %}

			{% buttons %}
				<button name="submit" class="btn btn-primary">Save</button>
			{% endbuttons %}

			<input type="hidden" name="next" value="Update"/>
		</form>

	{% else %}
		<p>You should to log in</p>
	{% endif %}
{% endblock %}
