{% extends "base.html" %}
{% load bootstrap4 %}

{% block header %}
	<h2> Sign up</h2>
{% endblock %}

{% block content %}
	{% if user.is_authenticated %}
		<p> Please, log out </p>
	{% else %}
		<form method="post" action={% url 'signup' %}>
			{% csrf_token %}
			{% bootstrap_form form %}
			<button name="submit">register</button>
			<input type="hidden" name="next" value="{% url 'home' %}"/>
		</form>
	{% endif %}
{% endblock content %}
