{% extends "base.html" %}

{% block header %}
	<div class="container">
		<h2><a href="{% url 'home' %}">Home</a> | <a href="{% url 'hot' %}">Hot</a></h2>
	</div>
{% endblock %}

{% block content %}
	{% for question in object_list %}
		<div class="card">
			<div class="card-header" onclick='location.href
			 ="{% url 'question_detail' question.pk %}";'>
				<span class="font-weight-bold">{{ question.title }}</span>
				<span class="text-muted">by {{ question.author }} | {{ question.date }}</span>
			</div>
			<div class="container">
				<div class="card-text">
					{{ question.body }}
				</div>
			</div>
			<div class="card-header">
				<span class="font-weight-bold">({{ question.raiting }})Raiting</span>
			</div>
		</div>
		<p></p>
	{% endfor %}

	{% include 'paginate_questions.html' %}
{% endblock content %}
